<!DOCTYPE html>
<html lang="en" ng-app="superContacts">
<head>
  <meta charset="UTF-8">
  <title>Superhero Phone Book</title>
  <link rel="stylesheet" href="style.css">
</head>
<body ng-controller="SuperConsController as vm">
  Search Directory:
  <input type="text" ng-model="vm.supeSearch">
  <div ng-repeat="supe in vm.supes | filter: {name: vm.supeSearch}">
    <h2>{{supe.name}}:</h2>
    <h4>{{supe.number}}</h4>
    <h4>Affiliation: {{supe.group}}</h4>
    <img ng-src="{{supe.img}}"/>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script type="text/javascript" src="app.js"></script>
</body>
</html>
